In [ ]:
Q.1.
Which expression evaluates to 4?

In [1]:
7-2*3

1

In [2]:
7//2-3

0

In [3]:
7/2*3

10.5

In [4]:
7%2+3

4

In [ ]:
Q.2. Consider the code:
    from sys import argv
    sum=0
    for i in range(2,len(argv)):
        sum+=float(argv[i])
        print("The average of{0} is {1:.2f}" .format(argv[1], sum/(len(argv)-2)))
Which of the following command invocation will generate the output?
The average for Sachin is 20.0

In [23]:
from sys import argv
sum=0
for i in range(2,len(argv)):
    sum+=float(argv[i])
print("The average of {0} is {1:.2f}".format(argv[1],sum/(len(argv)-2)))
pytest.pySachin102030

ValueError: could not convert string to float: 'C:\\Users\\Admin\\AppData\\Roaming\\jupyter\\runtime\\kernel-5886e6fa-750b-44f7-9de7-10f08f035fd7.json'

In [ ]:
Q.3. Consider the code:
    from sys import argv
    sum=0
    for i in range(2,len(argv)):
        sum+=float(argv[i])
        print("The average of{0} is {1:.2f}" .format(argv[1], sum/(len(argv)-2)))
Which of the following command invocation will generate the output?
The average for Durga is 20.00

In [32]:
test.pyDurga102030
from sys import argv
sum=0
for i in range(2,len(argv)):
    sum+=float(argv[i])
print("The average of {0} is {1:.2f}".format(argv[1],sum/(len(argv)-2)))

NameError: name 'test' is not defined

In [ ]:
Q.4. Consider the code:
    x=3
    x+=1
    #line-1
    Which line should be inserted in Line-1 so that x value will become 16?

In [12]:
x=3
x+=1
x**2

16

In [13]:
x=3
x+=1
x*2

8

In [17]:
x=3
x+=1
x+=2

In [18]:
x=3
x+=1
x-=2

In [ ]:
Q.5.Consider the following code:
    print(type(input("Enter some value:")))
    If we enter 10 and 10.0 individually for evry run what is the output?

In [23]:
 print(type(input("Enter some value:")))

Enter some value:10
<class 'str'>

In [24]:
 print(type(input("Enter some value:")))

Enter some value:10.0
<class 'str'>

In [ ]:
Q.6. Consider the python code:
a=['a','b','c','d']
for i in a:
    a.append(i.upper())
    print('a')

In [ ]:
memory error

In [ ]:
Q.6. Consider the variable delaration:
    a='5'
    b='2'
    which of the following expression are of type string?

In [4]:
a='5'
b='2'

In [5]:
type(a*b)

TypeError: can't multiply sequence by non-int of type 'str'

In [36]:
a*2

'55'

In [41]:
type(a*2)

str

In [38]:
type(a+b)

str

In [42]:
type(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
Q.7. Consider the code:
print(type(eval(input("Enter some value:"))))
If we enter 10 and 10.0 invidually for evry run what is the output?

In [44]:
print(type(eval(input("Enter some value:"))))

Enter some value:10
<class 'int'>

In [45]:
print(type(eval(input("Enter some value:"))))

Enter some value:10.0
<class 'float'>

In [ ]:
Q.8. Consider the code:
    a=7
    b=3
    c=5
    d=1
    which line of the code assigns 9 to the output?

In [46]:
a=7
b=3
c=5
d=1

In [50]:
output=a%c+1

In [51]:
output

3

In [52]:
output=a+d*2

In [53]:
output

9

In [54]:
output=a+c//d

In [55]:
output

12

In [56]:
output=c*d-1

In [57]:
output

4

In [ ]:
Q.9.Consider the code:
from sys import argv
print(argv[0])
and given the command invocation

In [62]:
from sys import argv
print(argv[0])
test.pyBHARATSOFT

C:\Users\Admin\anaconda3\lib\site-packages\ipykernel_launcher.py

NameError: name 'test' is not defined

In [ ]:
Q.10. Consider the following expression:
6//4%4+2**3-2//3
This expression results to:

In [63]:
6//4%4+2**3-2//3

9

In [ ]:
Q.11. x='TEXT'
which line of the code will assign 'TT' to the output?

In [67]:
x='TEXT'
output=x[0]+x[-1]

In [68]:
output

'TT'

In [69]:
output=x[0]+x[2]

In [70]:
output

'TX'

In [71]:
output=x[1]+x[1]

In [72]:
output

'EE'

In [73]:
output=x[1]+x[4]

IndexError: string index out of range

In [74]:
output

'EE'

In [ ]:
Q.12. Consider the python code:
print(10==10 and 20!=20)
print(10==10 or 20!=20)
print( not 10==10)
What is the result?

In [75]:
print(10==10 and 20!=20)
print(10==10 or 20!=20)
print( not 10==10)

False
True
False

In [ ]:
Q.13.Consider the code:
a=float('123.456')
Which expression evaluates to 2?

In [76]:
a=float('123.456')
bool(a)

True

In [77]:
int(a)+False

123

In [78]:
str(a)

'123.456'

In [79]:
bool(a)+True

2

In [ ]:
Q.14.You are intern for XYZ car company.You have tocreate a function that calculates the average velocity of vehicle on 
2640 foot(1/2 mile) track. Consider the python code:
    distance=xxx(input("Enter the distance traveled in feet:"))
    distance_miles=distance/5280
    time=yyy(input("Enter the time elapsed in seconds:"))
    time_hours=time/3600
    velocity=distance_miles/time_hours
    print ('The average velocity:', velocity,'miles/hour')
To generate most precise output, which modifications should be done at line1 and line2?

In [17]:
distance=float(input("Enter the distance travelled in feet:"))
distance_miles=distance/5280
time=float(input("Enter the time elapsed in seconds:"))
time_hours=time/3600
velocity=distance_miles/time_hours
print ('The average velocity:', velocity,'miles/hour')

Enter the distance travelled in feet:9876.55
Enter the time elapsed in seconds:3456.88
The average velocity: 1.948002639269041 miles/hour

In [19]:
distance=int(input("Enter the distance travelled in feet:"))
distance_miles=distance/5280
time=int(input("Enter the time elapsed in seconds:"))
time_hours=time/3600
velocity=distance_miles/time_hours
print ('The average velocity:', velocity,'miles/hour')

Enter the distance travelled in feet:5674
Enter the time elapsed in seconds:3245
The average velocity: 1.19218377924079 miles/hour

In [20]:
distance=float(input("Enter the distance travelled in feet:"))
distance_miles=distance/5280
time=int(input("Enter the time elapsed in seconds:"))
time_hours=time/3600
velocity=distance_miles/time_hours
print ('The average velocity:', velocity,'miles/hour')

Enter the distance travelled in feet:6547.99
Enter the time elapsed in seconds:4352
The average velocity: 1.0258590616644385 miles/hour

In [21]:
distance=int(input("Enter the distance travelled in feet:"))
distance_miles=distance/5280
time=float(input("Enter the time elapsed in seconds:"))
time_hours=time/3600
velocity=distance_miles/time_hours
print ('The average velocity:', velocity,'miles/hour')

Enter the distance travelled in feet:456
Enter the time elapsed in seconds:543.9
The average velocity: 0.5716291430577145 miles/hour

In [ ]:
# for more precise output xxx and yyy are replaced with floats.

In [ ]:
Q.15. The XYZ company has hired you as an intern on the coding team that creats an E-commerce application
You must write a script that asks a user for a value. The value must be used as a whole number in a calculation, 
even if the users enter a decimal value.
Which of the following meets this requirement?

In [23]:
total_items= str(input('How many items you required?'))

How many items you required?78.9

In [37]:
total_items= float(input('How many items you required?'))

How many items you required?78.91

In [38]:
total_items= int(float(input('How many items you required?')))

How many items you required?876

In [36]:
total_items= (input('How many items you required?'))

How many items you required?67

In [ ]:
Q.16. In which of the following case, True will be printed to the console?

In [39]:
print ('r' in 'Durga')

True

In [40]:
a=45
b=45
print(a is not b)

False

In [41]:
s1= 'The python course'
s2= 'The python course'.upper()
print('s1 is s2')

s1 is s2

In [43]:
print('is' in 'THIS IS a Fake News')

False

In [44]:
x=[1,2,3]
y=[1,2,3]
print('x is y')

x is y

In [ ]:
Q.17. Consider the code:
    x=2
    y=6
    x+=2**3
    x//-y//2//3
    print(x)
    What is the output?

In [45]:
x=2
y=6
x+=2**3
x//-y//2//3
print(x)

10

In [ ]:
Q.18. Given the command invocation
pytest.pyDurga
Which of the following code prints Durga to the console?

In [55]:
pytest.pyDurga

NameError: name 'pytest' is not defined

In [56]:
from sys import argv
print(argv[1])

-f

In [57]:
from sys import args
print(args[1])

ImportError: cannot import name 'args' from 'sys' (unknown location)

In [58]:
from sys import argv
print(argv[0])

C:\Users\Admin\anaconda3\lib\site-packages\ipykernel_launcher.py

In [59]:
from sys import args
print(args[0])

ImportError: cannot import name 'args' from 'sys' (unknown location)

In [ ]:
Q.19. If the user enters 12345 as input, Which of the following code will print 12346 to the console?

In [60]:
count= int(input('Enter count value: '))
print(count+1)

Enter count value: 3
4

In [61]:
count= eval(input('Enter count value: '))
print(count+1)

Enter count value: 5
6

In [62]:
count= input('Enter count value: ')
print(count+1)

Enter count value: 4

TypeError: can only concatenate str (not "int") to str

In [63]:
count= input('Enter count value: ')
print(int(count)+1)

Enter count value: 45
46

In [ ]:
Q. 20. Consider the code:
    t=([10,20],10,False)
    Which line of the code assigns<class'list'> to x?

In [64]:
t=([10,20],10,False)
x=type(t[1])

In [65]:
x=type(t[0:])

In [66]:
x=type(t[0])

In [67]:
x=type(t)

In [ ]:
Q.21. Which expression would evaluate to 2?

In [68]:
11/2

5.5

In [69]:
22%5

2

In [70]:
13//4

3

In [71]:
3**2

9

In [ ]:
Q.22. Consider the code:
    x=3/3+3**3-3
    print(x)
    What is the output?

In [73]:
x=3/3+3**3-3
print(x)

25.0

In [ ]:
Q.23. Consider the code:
    result= str(bool(1)+float(10)/float(2))
    print(result)
    What is the output?

In [75]:
result= str(bool(1)+float(10)/float(2))
print(result)

6.0

In [ ]:
Q.24. Consider the code:
    from sys import argv
    print(argv[1]+argv[2])
and given the command invocation:
    py test.py 10 20
What is the result?

In [80]:
from sys import argv
print(argv[1]+argv[2])
py test.py 10 20

SyntaxError: invalid syntax (Temp/ipykernel_13396/278109700.py, line 3)

In [ ]:
Q.25. 
You develope a Python application to your company. You require to accept input from users and print that information to
user screen. 
Consider the code:
1.Print('Enter your name:')
2.Line-1
3.print (name), at line-1 which code we have to write?

In [11]:
print('Enter your name:')
name=input()
print(name)

Enter your name:
Darshana
Darshana

In [ ]:
Q.26.
Which of the following are valid statements:

In [ ]:
1] type('') is <class 'bool'>

In [13]:
type('')

str

In [ ]:
2]True and False evaluates to False ## Correct

In [14]:
True and False

False

In [ ]:
3] True or False evaluates to False

In [15]:
True or False

True

In [ ]:
4] 5+False evaluates to False

In [17]:
5+False

5

In [ ]:
5] True +1 evaluates to 2 ## Correct

In [18]:
 True +1

2

In [ ]:
Q.27. Consider the code:
print(not 0)
print(not 10)
print(not '')
print(not 'durga')
print(not None)  
What is the result?

In [20]:
print(not 0)
print( not 10)
print(not '')
print(not 'durga')
print(not None)

True
False
True
False
True

In [ ]:
Q.28.Consider the code
l1=['sunny','bunny','chinny','vinny']
l2=['sunny','bunny','chinny','vinny']
print(l1 is not l2)
print(l1=!l2)
l1=l2
print(l1 is not l2)
print(l1=!l2)

In [22]:
l1=['sunny','bunny','chinny','vinny']
l2=['sunny','bunny','chinny','vinny']
print(l1 is not l2)
print(l1!=l2)
l1=l2
print(l1 is not l2)
print(l1!=l2)

True
False
False
False

In [ ]:
Q.29. In which of the following cases we will get<class'int'> as output?

In [23]:
x=2**2**2
print(type(x))

<class 'int'>

In [24]:
x=47
print(type(x))

<class 'int'>

In [25]:
x=47.0
print(type(x))

<class 'float'>

In [26]:
x=10+20j
print(type(x))

<class 'complex'>

In [ ]:
Q.30. Consider the code:
    s='DURGA SOFT'
    which of the following lines will assign 9 to variable result?

In [1]:
 s='DURGA SOFT'

In [2]:
result=len(s.lstrip())

In [3]:
result=len(s)

In [4]:
result=len(s.rstrip())

In [5]:
result=len(s.strip())

In [6]:
result=len(s.replace('',''))

In [ ]:
Q.31.From sys module,by using which variable, we can access command line argument?

In [ ]:
argv

In [ ]:
Q.32. Consider the variable declaration
b='BANANA', which of the following lines will print'AA' to the console?

In [12]:
b='BANANA'
print(b[3]+b[5])
print(b[1]+b[5])
print(b[1]+b[2])
print(b[1]+b[3])

AA
AA
AN
AA

In [ ]:
Q.33.
Consider the code
l1=['sunny','bunny','chinny','vinny']
l2=['sunny','bunny','chinny','vinny']
print(l1 is l2)
print(l1==l2)
l1=l2
print(l1 is l2)
print(l1==l2)

In [13]:
l1=['sunny','bunny','chinny','vinny']
l2=['sunny','bunny','chinny','vinny']
print(l1 is l2)
print(l1==l2)
l1=l2
print(l1 is l2)
print(l1==l2)

False
True
True
True

In [ ]:
Q.34. Consider the following code:
v1=1
v2=0
v1=v1^v2
v2=v1^v2
v1=v1^v2
print(v1)
What is the result?

In [14]:
v1=1
v2=0
v1=v1^v2
v2=v1^v2
v1=v1^v2
print(v1)

0

In [ ]:
Q.35.
Consider the code:
1.count=input('Enter the number of customers of the bank:')
2.line-1
3.print(output)
which code inserted at line-1 will print 20 to the console if we pass 15 as count value from the console?

In [15]:
count=input('Enter the number of customers of the bank:')
output=int(count)+5
print(output)

Enter the number of customers of the bank:15
20

In [ ]:
Q.36. Consider the code:
x='10'
y='20'
type(x+y)

In [16]:
x='10'
y='20'
type(x+y)

str

In [ ]:
Q.37. Which of the following string declaration spans more than one line and considers white space properly when the
sring is printed to the console?

In [17]:
s1='Bharat\n 
        Software\n
        Solutions'

SyntaxError: EOL while scanning string literal (Temp/ipykernel_9908/2111381070.py, line 1)

In [ ]:
s1='Bharat\n 
        Software\n
        Solutions'

In [19]:
s1='''Bharat
        Software
        Solutions'''

In [20]:
s1='Bharat
        Software
        Solutions"

SyntaxError: EOL while scanning string literal (Temp/ipykernel_9908/2252396202.py, line 1)

In [21]:
s1="Bharat
        Software
        Solutions'''

SyntaxError: EOL while scanning string literal (Temp/ipykernel_9908/1307069803.py, line 1)

In [ ]:
Q.38. Consider the code:
1.lst=[7,8,9]
2.b=lst[:]
3.print(b is lst)
4.print(b ==lst)

In [26]:
lst=[7,8,9]
b=lst[:]
print(b is lst)
print(b ==lst)

False
True

In [ ]:
Q.39. Which of the following statements are valid?

In [ ]:
1]The following expression evaluates to 12
b= False+5-True+35//4

In [27]:
b= False+5-True+35//4

In [28]:
b

12

In [29]:
2]S="Sachin Tendulkar is Cricket's great player"
It causes error because Double quote and single quote simultaneously.

In [30]:
S

"Sachin Tendulkar is Cricket's great player"

In [ ]:
3]The following line will print result:4.5

In [35]:
print('result:',(7/2)+(False or True)+(9%3))

result: 4.5

In [ ]:
4]456+456.0
type of result?

In [32]:
a=456+456.0

In [33]:
a

912.0

In [34]:
type(a)

float

In [ ]:
Q.40. Which of the following code is used for this requirement?

In [37]:
college_name=input('Ente your college name:')
city=input('Enter your city:')
print('Welcome to {} n {}'.format(college_name,city))

Ente your college name:Deogiri College
Enter your city:Aurangabad
Welcome to Deogiri College n Aurangabad

In [ ]:
## This is correct requirement

In [38]:
college_name=read('Ente your college name:')
city=read('Enter your city:')
print('Welcome to {} n {}'.format(college_name,city))

NameError: name 'read' is not defined

In [39]:
college_name=str('Ente your college name:')
city=str('Enter your city:')
print('Welcome to {} n {}'.format(college_name,city))

Welcome to Ente your college name: n Enter your city:

In [40]:
college_name=eval('Ente your college name:')
city=eval('Enter your city:')
print('Welcome to {} n {}'.format(college_name,city))

SyntaxError: invalid syntax (<string>, line 1)